# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/

# Data (ignore raw data files)
data/

# Anaconda / local folders
anaconda_projects/

# macOS
.DS_Storesql/project_underdog.db
*.db
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Local data / generated artifacts
sql/project_underdog.db
*.db
outputs/
__pycache__/
.ipynb_checkpoints/
.DS_Store
